<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Image Classification</title>
<link href = 'https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href = 'https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href = 'https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href = 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container-fluid center">
        <div class="row justify-content-md-center">
            <div class="col">
                <title>Python Flask - Video Upload and Play Example</title>
                <h2>Select a video to upload and play</h2>
            </div>
        </div>
        
        <div class="justify-content-md-center center">
            <div>
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>
                {% if filename %}
                    <div style="margin: 10px auto;">
                        <video  class="embed-responsive-item" autoplay="autoplay" controls="controls" preload="preload" controls>
                            <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
                        </video>
                    </div>
                {% endif %}
                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                            <!-- <input type="file" name="file" autocomplete="off" required> -->
                            <!--Section: Live preview-->
                            <section class="section-preview">

                                <div class="input-group my-3">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" >
                                        <label class="custom-file-label" for="inputGroupFile01">
                                            {% if filename %}
                                                {{filename}}
                                            {% else %}
                                                Video
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                    
                            </section>
                    </dl>
                        <button  type="submit" class="btn btn-primary">Subir video</button>
                </form>
            </div>
            
            <br>
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Caras</th>
                                    <th scope="col">Predicción</th>
                                </tr>
                        </thead>
                        <tbody>
                        {% for key, value in prediction.items() %}
                            <tr>
                                <td><img src="{{ url_for('display_image', filename=key) }}" class="rounded" alt={{key}}/></td>
                                <td> {{ value }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>